* {
    font-family: 'Roboto Mono', monospace;
    color: gray;
}

body, html {
    font-size: 18px;
    background: black;
    overflow-x: hidden;
}

#content {
    max-width: 65ch;
    margin: auto;
    padding: 1ex;
}

.sketch {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container {
    text-align: center;
}

hr {
    width: 100%;
    border: none;
}

button {
    border: none;
    background: black;
    font-size: 100%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    font-size: inherit;
}
