* {
    font-family: 'Roboto Mono', monospace;
    color: gray;
}

body, html {
    font-size: 18px;
    background: black;
    overflow-x: hidden;
}

p {
    max-width: 65ch;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1ch;
}

hr {
    width: 100%;
    border: none;
}

#controls {
    max-width: 65ch;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    background: black;
    font-size: 100%;
    cursor: pointer;
}

.nav-button {
    width: 2ch;
    height: 100%;
    text-align: center;
    font-size: 125%;
}

h1, h2, h3 {
    text-align: center;
    font-variant-caps: small-caps;
}

.main-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 95%;
}

.base-grid-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.show-more {
    display: flex;
    bottom: 1ch;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

#n {
    text-align: center;
    outline: 0;
    border: none;
    background: none;
    border-color: gray;
    color: white;
    width: 100%;
    font-size: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    font-size: inherit;
}
