* {
    font-family: 'Roboto Mono', monospace;
}

body, html {
    font-size: 16px;
    background: black;
    overflow-x: hidden;
    color: gray;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

#controls {
    max-width: 65ch;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.break {
    flex-basis: 100%;
    height: 1ch;
}

.main-sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95%;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

button {
    text-align: center;
    font-size: 100%;
    cursor: pointer;
}

.btn {
    color: gray;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1px;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media(hover: hover) and (pointer: fine) {
    .btn:hover {
        border-bottom: 1px solid gray;
    }
}

.toggled {
    color: white;
}

.untoggled {
    color: gray;
}
